.navbar {
    min-width: 100%;
    
    min-height: clamp(4rem, 1.5rem + 4vw, 5rem);

    background-color: hsl(189, 69%, 54%);

    z-index: 1;
    position: sticky;/* aqui ver */
    box-shadow: 0 8px 8px rgba(0,0,0,0.08);
}

.navbar-wrapper {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-items: center;
    justify-content: space-between;
    
    width: 100%;
    max-width: 1200px;

    margin-inline: auto;
    padding-inline: clamp(0.8rem, 2vw, 2rem);
    padding: clamp(1.0rem, 1rem + 1.5vw, 2rem); 
}

.barra-de-pesquisa {
    background-color: rgb(255, 255, 255);
    padding: 8px 12px;
    padding-right: 25px;
    outline: none;
    min-width: 50%;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);
}

.barra-de-pesquisa i {
    background-color: rgb(255, 255, 255);
}

.textoInput{
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size:clamp(1.0rem, 1rem + 1.2vw, 1.5rem);
    min-width: 100%;
}

.textoInput:focus-visible {
    outline: none;
}

.nav-componentes {
    list-style: none;
}

.nav-componentes li {
    display: inline-block;
    padding: 0 clamp(0.80rem, 0.70rem + 0.50vw, 1rem);;

    font-size: clamp(0.80rem, 1rem + 1.2vw, 1.5rem);
}

.nav-componentes li a:hover {
    text-decoration: underline;
}

/* menu navbar escondida ate o usuario logar */

.login {
    position: relative;
    cursor: pointer;
}

.menu-logado {
    display: none;

    position: absolute;
    top: 100%;
    right: 0;
    
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    
    min-width: 150px;
    z-index: 999;
    white-space: nowrap;
}

.menu-logado.ativo {
    display: flex;
    flex-direction: column;
}

.menu-logado a {
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.menu-logado a:hover {
    background-color: #e8e8e8;
    text-decoration: none !important;
}

.texto-carrinho {
    display: none
}

/* =============================
    MENU SIDEBAR MOBILE
================================*/

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 280px;
    z-index: 999;
    background-color: hsl(187, 100%, 98%);
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
    display: none;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.55);

    display: none;

    z-index: 998;
    backdrop-filter: blur(.5px);
}

.sidebar-componentes {
    list-style: none;
}

.sidebar-componentes li {
    padding:clamp(0.80rem, 0.70rem + 0.50vw, 1rem);;

    font-size: clamp(0.80rem, 1rem + 1.2vw, 1.5rem);
}

.sidebar-componentes li a:hover:not(:first-child) {
    text-decoration: underline;
}

.menu-sidebar {
    display: none !important;
}

/* =============================
    MEDIA QUERY
================================*/
@media (max-width: 1279px) {
    .nav-componentes li {
    font-size: 1.5rem
}
    .barra-de-pesquisa {
    min-width: 40%;
}
}

@media (max-width: 1000px) {
    .textoInput{
    font-size: 1.0rem;
}
    .barra-de-pesquisa {
    min-width: 30%;
}
    .nav-componentes li {
    font-size: 1.0rem
}
}

@media (max-width: 768px) {
    .carrinho,
    .compras,
    .login,
    .produtos,
    .home {
        display: none !important;
    }
    .barra-de-pesquisa {
    min-width: 60%;
    }
    .menu-sidebar {
    display: flex !important;
    }
    .navegacao i {
        font-size: 1.2rem;
    }
    
}

@media (max-width: 490px) {
    .nav-componentes li {
    font-size: 1.0rem
    }
    .sidebar {
        width: 180px;
    }
}

/* =====================
    REMOVER ICONES
========================*/

.remover-login .login {
    display: none;
}
.remover-login .login-menu {
    display: none;
}
