@import "./global.css";

.section-content-wrapper { /* apenas um secao n tudo */
    min-height: 100dvh;
    padding: clamp(1rem, 4vw, 4rem);
    display: flex;
    flex-direction: column;
}

.container-maior {
    width: 100%;
    max-width: 1800px;
    margin-inline: auto;
    padding-inline: clamp(0.8rem, 2vw, 2rem);
}

.main-section-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px
}

/* ===========================
    ASIDE SECTION
=============================*/

.filtros {
    width: 450px;
    align-self: flex-start;
    flex-direction: column;

    margin-top: 132px;
    padding: 2px
}

.filtros-preco {
    margin-top: 10px;
    background-color: rgb(248, 248, 248);
    min-height: 100px; /* tirar depois */
    width: 100%;
    padding: var(--spacing-md);

    display: flex;
    flex-direction: column;
}

.filtros-preco p {
    font-size: var(--font-md);
    margin-top: var(--spacing-sm);
}

.slider-container {
    position: relative;
    width: 100%;
    height: 6px;
    margin-top: 30px;
}

.slider-track {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(200, 194, 194);
    border-radius: 3px;
    z-index: 1;
}

.slider-container input[type="range"] {
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    z-index: 2;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--cor-primaria);
    cursor: pointer;
    pointer-events: auto;
    -webkit-appearance: none;
}

.slider-container input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 2px;
    background: var(--cor-primaria);
    cursor: pointer;
    pointer-events: auto;
}

.valores-slider {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #4a5568;
    margin-top: 12px;
    font-weight: 500;
}

.intervalo-preco-inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--spacing-lg);
    gap: 10px;
}

.divisor-input {
    color: #a0aec0;
    padding-top: 10px;
}

.input-box {
    position: relative;
    flex: 1;
}

.input-box label {
    position: absolute;
    left: 12px;
    top: -8px;
    background: rgb(248, 248, 248);
    padding: 0 4px;
    font-size: 0.75rem;
    color: #718096;
    z-index: 5;
}

.input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #a0aec0;
    border-radius: 6px;
    background-color: #fff;
    padding: 8px 12px;
}

.input-wrapper span {
    color: #4a5568;
    font-size: 0.95rem;
    margin-right: 4px;
}

.input-wrapper input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    color: #1a202c;
    background: transparent;
    -moz-appearance: textfield;
    appearance: none;
}

.input-wrapper input::-webkit-outer-spin-button,
.input-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ===========================
    MAIN SECTION
=============================*/

.main-content {
    width: 100%;
    flex-direction: column;

    row-gap: 40px;
    padding: 2px;
}

.filtros-layout {
    background-color: rgba(0, 0, 0, 0.115);
    height: 100px;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;

    padding: var(--spacing-lg);
    padding-left: var(--spacing-md);
}

.mobile-secreto {
    display: none;
}

.filtro-secreto-mobile {
    cursor: pointer
}

.botao-filtro-secreto-mobile  { 
    padding: var(--spacing-sm) var(--spacing-md);
    font-size: 1rem;
    
    border: none;
    border-radius: 4px; 
    background-color: #fff;
    color: #1a202c;
    
    outline: none;
    box-shadow: none;
}

.filtro-secreto-mobile i { 
    padding-right: 10px;
}

.ordenacao {
    font-size: var(--font-md);
    font-weight: bold;
}

.filtros-layout select {
    appearance: base-select;

    field-sizing: content;
    min-width: 130px;

    font-weight: normal;
    margin-left: 5px;
    background-color: #fff;
    color: #1a202c;
    padding: var(--spacing-sm) var(--spacing-sm);
    border-radius: 4px;

    border: none;
}

.filtros-layout select::picker-icon {
    font-size: var(--font-xs);
    align-content: center;
    transition: 150ms ease;
}

.filtros-layout select:open::picker-icon {
    rotate: 180deg;
}

.filtros-layout select option {
    padding: .25em;
}

.produtos-por-pagina {
    font-size: var(--font-md);
    font-weight: bold;
}

/* card area */

.produtos-final {
    background-color: rgb(255, 0, 0);
    width: 100%;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 10px
}

.card {
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
}

.card-imagem-container {
    width: 100%;
    height: 260px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: white;
    overflow: hidden;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-imagem {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    object-fit: contain;
}

.card-info {
    padding: 12px;
}

.card-avaliacao {
    display: flex;
    gap: 4px;
}

.card-nome {
    font-weight: 600;
    margin-bottom: 8px;

    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.card-rating {
    font-size: .9rem;
    display: flex
}

.preco-original {
    padding: 0 12px;

    text-decoration: line-through;
    color: gray;
    margin-bottom: 4px;
}

.preco-desconto {
    padding: 0 12px;

    font-size: 1.4rem;
    font-weight: bold;

    margin-top: 0;
}

.preco-sem-desconto {
    padding: 0 12px;

    font-size: 1.4rem;
    font-weight: bold;

    margin-top: 24px;
}

.container-preco-e-desconto {
    display: flex;
    
}

.desconto {
    background-color: rgb(10, 235, 10);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;

    padding: 2px 4px;
    justify-content: center;
    align-items: center;
}

.secao-preco-no-cartao{
    display: flex
}

.vezes-no-cartao {
    padding: 0 2px 0 12px;
    font-size: 1.0rem;
}

.preco-no-cartao {
    font-size: 1.0rem;
}

.frete {
    padding: 0 12px;

    color: green;
    font-weight: 600;
}

/* pagination */

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.pagination li {
    list-style-type: none;

    font-weight: bold;
    font-size: var(--font-md);
    padding: 0 var(--spacing-md);
}

.pagination a {
    cursor: pointer
}

.pagination .active {
    color: var(--cor-secundaria)
}

.pagination .disabled {
    opacity: 0.5;
    pointer-events: none
}



/* ===========================
    MOBILE  
=============================*/

/* ===========================
    RESPONSIVIDADE 
=============================*/

