.barra-de-pesquisa {
    min-width: 40%;
}

.section-content-wrapper {
    min-height: 100dvh;
    padding: clamp(1rem, 4vw, 4rem);
    display: flex;
}

.main-section {
    display: grid;
    grid-template-columns: minmax(0, 1.2fr) minmax(0, 1fr) minmax(0, 0.8fr); /* obriga a ficar nesse aspecto */
    background-color: rgb(255, 255, 255);
    gap: var(--spacing-md);
    padding: var(--spacing-lg);

    align-items: start;
}

/* ===========================
    IMAGENS
=============================*/

.imagens-produto-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);

    align-items: start;
    position: relative
}

.imagens-secundarias {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
}

.thumbs {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border: 2px solid rgba(128, 128, 128, 0.253);
    transition: .2s;
    object-fit: contain;
    border-radius: var(--radius-sm);
}

.thumbs:hover {
    border-color: var(--cor-primaria)
}

.thumbs.selecionada {
    box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.349);
    z-index: 1
}

.imagem-principal-container {
    background-color: rgba(0, 255, 255, 0.24);
    cursor: zoom-in;
    position: relative;
}

.lens {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 2px none black;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.442);

    opacity: 0;
}

.result {
    position: absolute;
    left: calc(100% + var(--spacing-md));
    top: 0;
    width: calc(400px - var(--spacing-lg));
    height: calc(400px - var(--spacing-lg));
    background-repeat: no-repeat;
    
    border: 2px solid rgba(128, 128, 128, 0.199);

    opacity: 0;
}

.result.ativado, .lens.ativado {
    opacity: 1;
}

.imagem-principal-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    object-fit: contain;
}

.hover-ativo {
    border-color: var(--cor-primaria)
}

/* galeria */

.overlay-galeria {
    padding: var(--spacing-lg) var(--spacing-xl);
    border: none;
    background: transparent;
    
    width: 100vw;
    height: 100vh;

    scrollbar-width: none;
}

.overlay-galeria::-webkit-scrollbar {
  display: none;
}

.overlay-galeria::backdrop {    
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(.5px);
}

.top-componentes {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

.contador {
    color: white;
    font-size: var(--font-md);
    opacity: 0.50;
    padding: 4px var(--spacing-md);
    background-color: rgba(0, 0, 0, 0.412);
    border-radius: 15px;
}

.btn-sair-galeria {
    color: white;
    font-size: var(--font-lg);
    padding: var(--spacing-sm) var(--spacing-sm);
    background-color: rgba(0, 0, 0, 0.412);
    border: none;

    cursor: pointer;
}

.imagem-galeria {
    height: 600px;
    cursor: zoom-in;
}


/* ===========================
    INFO 
=============================*/

.infos-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);/* ver */
    padding: var(--spacing-xs) var(--spacing-md);
}

.avalaciacao-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-xs)
}

.avalaciacao-wrapper p {
    font-size: var(--font-md);
}

.nome {
    font-size: var(--font-lg)
}

.preco-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    align-items: baseline;/*  */
}

.preco-normal {
    text-decoration: line-through;
    color: gray;
}

.wrapper-desconto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.preco-desconto {
    font-size: var(--font-lg);
    font-weight: bold;
    display: flex;
}

.desconto {
    background-color: rgb(10, 235, 10);
    color: white;
    font-size: var(--font-md);
    font-weight: bold;
    padding: 4px 8px;  
}

.sem-desconto {
    background-color: transparent;
}

.frete {
    color: green;
    font-size: var(--font-sm);
    font-weight: bold;
    display: inline-block;
}

.descricao {
    font-size: var(--font-md)
}

.estoque-indisponivel {
    color: var(--cor-secundaria)
}

/* ===========================
    FINALIZAR
=============================*/

.finalizar-wrapper {
    padding: var(--spacing-md)var(--spacing-md);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    border: 2px solid rgba(128, 128, 128, 0.14);
    border-radius: var(--radius-sm);
}

.estoque-info h2 {
    font-size: var(--font-lg)
}

.estoque-info label {
    font-size: var(--font-md)
}

.estoque-info select {
    appearance: base-select;
    font-weight: normal;
    margin-left: 5px;
    background-color: transparent;
    color: #1a202c;

    border: none;
}

.estoque-info select::picker-icon {
    font-size: var(--font-xs);
    align-content: center;
    transition: 150ms ease;
}

.estoque-info select:open::picker-icon {
    rotate: 180deg;
}

.estoque-info select option {
    padding: .25em;
}

.botoes-compra {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-sm)
}

.botoes-compra button{
    padding: var(--spacing-md) var(--spacing-md);
    font-size: var(--font-md);
    border-radius: var(--radius-sm);
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.comprar {
    background-color: rgb(52, 131, 250);
    color: white
}

.carrinho-finalizar {
    background-color: var(--cor-primaria-click);
    color: black;
}

.comprar:active {
    background-color: rgb(41, 104, 199);
}

.carrinho-finalizar:active {
    background-color: var(--cor-primaria);
}
/* ===========================
    MOBILE
=============================*/

/* ===========================
    RESPONSIVIDADE
=============================*/

/* @media (max-width: 1024px) {

    .main-section {
        display: grid;
        grid-template-columns: 1fr;
    }
} */